In [2]:
import pandas as pd

In [22]:

nasdaq_df = pd.read_csv("resources/ohlcv_p1p2p3_nasdq/000060.csv", parse_dates=['date'], index_col=[0], encoding = "UTF-8")
N_item_df = pd.read_csv("resources/zzin_df_item6.csv", dtype = {"stock_code" :str}, parse_dates=['Date'], index_col=[0], encoding = "949")



print(nasdaq_df)
print(N_item_df)

           date   open   high    low  close  volume pattern1 pattern2  \
0    2012-01-02  11700  11800  11350  11450  122389      M05      NaN
1    2012-01-03  11500  11950  11400  11850  219608      P05   M00P05
2    2012-01-04  11800  11900  11650  11800  183532      K00   P00K00
3    2012-01-05  11800  11800  11600  11600  105222      M00   K00M00
4    2012-01-06  11750  11750  11250  11400  144337      M01   M00M01
...         ...    ...    ...    ...    ...     ...      ...      ...
2167 2020-10-23  15200  15500  15000  15500  497633      P01   P00P01
2168 2020-10-26  15550  15700  14950  15150  374551      M05   P00M05
2169 2020-10-27  14950  15150  14500  14650  330214      M05   M00M05
2170 2020-10-28  14450  14950  14350  14900  259706      P05   M00P05
2171 2020-10-29     -1     -1     -1     -1      -1      P10   P00P10

     pattern3 nasdaq
0         NaN    NaN
1         NaN    NaN
2      S01K00    U04
3      P10M00    T01
4      S07M01    U04
...       ...    ...
2167   P10P01    U03
2168   P10M05    U04
2169   S07M05    D04
2170   M10P05    U04
2171   S00P10    D04

[2172 rows x 10 columns]
    P_score predict real stock_name stock_code       Date
0     89.83      P0   M0         GV      45890 2020-10-08
0     74.87      P0   P0    SK디스커버리       6120 2020-10-08
0     66.73      P0   M0     케이피엠테크      42040 2020-10-08
0     92.73      P0   P0       삼보산업       9620 2020-10-07
0     84.95      P0   M0   에이비프로바이오     195990 2020-10-07
..      ...     ...  ...        ...        ...        ...
0    100.00      P0   P0         디오     039840 2020-07-27
0     95.01      P0   P0      우정바이오     215380 2020-07-27
0     90.92      P0   P0     레고켐바이오     141080 2020-07-27
0     84.70      P0   P0        캠시스     050110 2020-07-27
0     83.58      P0   P0     S&K폴리텍     091340 2020-07-27

[297 rows x 6 columns]

In [23]:
N_item_df["nasdaq"] = "0"
N_item_df

    P_score predict real stock_name stock_code       Date nasdaq
0     89.83      P0   M0         GV      45890 2020-10-08      0
0     74.87      P0   P0    SK디스커버리       6120 2020-10-08      0
0     66.73      P0   M0     케이피엠테크      42040 2020-10-08      0
0     92.73      P0   P0       삼보산업       9620 2020-10-07      0
0     84.95      P0   M0   에이비프로바이오     195990 2020-10-07      0
..      ...     ...  ...        ...        ...        ...    ...
0    100.00      P0   P0         디오     039840 2020-07-27      0
0     95.01      P0   P0      우정바이오     215380 2020-07-27      0
0     90.92      P0   P0     레고켐바이오     141080 2020-07-27      0
0     84.70      P0   P0        캠시스     050110 2020-07-27      0
0     83.58      P0   P0     S&K폴리텍     091340 2020-07-27      0

[297 rows x 7 columns]

In [25]:
nasdaq_df.values[nasdaq_df['date'] == N_item_df.iloc[0,5]][0][9]

'U04'

In [26]:
for i in range(len(N_item_df)) :
    stock_date = N_item_df.iloc[i,5]
    print(i)
    N_item_df.iloc[i, 6] = nasdaq_df.values[nasdaq_df['date'] == N_item_df.iloc[i,5]][0][9]
N_item_df

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296

    P_score predict real stock_name stock_code       Date nasdaq
0     89.83      P0   M0         GV      45890 2020-10-08    U04
0     74.87      P0   P0    SK디스커버리       6120 2020-10-08    U04
0     66.73      P0   M0     케이피엠테크      42040 2020-10-08    U04
0     92.73      P0   P0       삼보산업       9620 2020-10-07    D04
0     84.95      P0   M0   에이비프로바이오     195990 2020-10-07    D04
..      ...     ...  ...        ...        ...        ...    ...
0    100.00      P0   P0         디오     039840 2020-07-27    D04
0     95.01      P0   P0      우정바이오     215380 2020-07-27    D04
0     90.92      P0   P0     레고켐바이오     141080 2020-07-27    D04
0     84.70      P0   P0        캠시스     050110 2020-07-27    D04
0     83.58      P0   P0     S&K폴리텍     091340 2020-07-27    D04

[297 rows x 7 columns]

In [28]:
N_item_df.to_csv("resources/6item_df.csv", encoding = "euc-kr")

In [29]:
print(N_item_df)

    P_score predict real stock_name stock_code       Date nasdaq
0     89.83      P0   M0         GV      45890 2020-10-08    U04
0     74.87      P0   P0    SK디스커버리       6120 2020-10-08    U04
0     66.73      P0   M0     케이피엠테크      42040 2020-10-08    U04
0     92.73      P0   P0       삼보산업       9620 2020-10-07    D04
0     84.95      P0   M0   에이비프로바이오     195990 2020-10-07    D04
..      ...     ...  ...        ...        ...        ...    ...
0    100.00      P0   P0         디오     039840 2020-07-27    D04
0     95.01      P0   P0      우정바이오     215380 2020-07-27    D04
0     90.92      P0   P0     레고켐바이오     141080 2020-07-27    D04
0     84.70      P0   P0        캠시스     050110 2020-07-27    D04
0     83.58      P0   P0     S&K폴리텍     091340 2020-07-27    D04

[297 rows x 7 columns]

In [35]:
N_item_u1 = N_item_df[N_item_df['nasdaq'] == "U01"]
N_item_u2 = N_item_df[N_item_df['nasdaq'] == "U02"]
N_item_u3 = N_item_df[N_item_df['nasdaq'] == "U03"]
N_item_u4 = N_item_df[N_item_df['nasdaq'] == "U04"]
N_item_d1 = N_item_df[N_item_df['nasdaq'] == "D01"]
N_item_d2 = N_item_df[N_item_df['nasdaq'] == "D02"]
N_item_d3 = N_item_df[N_item_df['nasdaq'] == "D03"]
N_item_d4 = N_item_df[N_item_df['nasdaq'] == "D04"]
N_item_t1 = N_item_df[N_item_df['nasdaq'] == "T01"]

In [36]:
print(len(N_item_u1))
print(len(N_item_u2))
print(len(N_item_u3))
print(len(N_item_u4))
print(len(N_item_d1))
print(len(N_item_d2))
print(len(N_item_d3))
print(len(N_item_d4))
print(len(N_item_t1))

0
0
10
158
0
0
0
119
10

In [54]:
nasnas = pd.read_csv("resources/nasdaq.csv")
nasnas

      Unnamed: 0        date     close      open  change nasdaq
0              0  2012-01-03      0.00      0.00  0.0000    NaN
1              1  2012-01-04   2648.72   2657.39  0.0167    U02
2              2  2012-01-05   2648.36   2639.90 -0.0001    T01
3              3  2012-01-06   2669.86   2642.57  0.0081    U01
4              4  2012-01-09   2674.22   2671.17  0.0016    T01
...          ...         ...       ...       ...     ...    ...
2217        2217  2020-10-23  11506.01  11526.97  0.0019    T01
2218        2218  2020-10-26  11548.28  11536.00  0.0037    U01
2219        2219  2020-10-27  11358.94  11440.64 -0.0164    D02
2220        2220  2020-10-28  11431.35  11409.34  0.0064    U01
2221        2221  2020-10-29  11004.87  11230.90 -0.0373    D04

[2222 rows x 6 columns]

In [55]:
nas_u1 = nasnas[nasnas['nasdaq'] == "U01"]
nas_u2 = nasnas[nasnas['nasdaq'] == "U02"]
nas_u3 = nasnas[nasnas['nasdaq'] == "U03"]
nas_u4 = nasnas[nasnas['nasdaq'] == "U04"]
nas_d1 = nasnas[nasnas['nasdaq'] == "D01"]
nas_d2 = nasnas[nasnas['nasdaq'] == "D02"]
nas_d3 = nasnas[nasnas['nasdaq'] == "D03"]
nas_d4 = nasnas[nasnas['nasdaq'] == "D04"]
nas_t1 = nasnas[nasnas['nasdaq'] == "T01"]
print(len(nasnas))
print(len(nas_u4))
print(len(nas_u3))
print(len(nas_u2))
print(len(nas_u1))
print(len(nas_t1))
print(len(nas_d1))
print(len(nas_d2))
print(len(nas_d3))
print(len(nas_d4))

2222
22
85
227
549
708
357
157
72
44

In [56]:
nasnas[nasnas['change'] < -0.028]

      Unnamed: 0        date     close      open  change nasdaq
105          105  2012-06-04   2747.48   2810.13 -0.0282    D04
571          571  2014-04-11   4054.11   4181.21 -0.0310    D04
914          914  2015-08-21   4877.49   4973.49 -0.0282    D04
915          915  2015-08-24   4706.04   4801.04 -0.0352    D04
916          916  2015-08-25   4526.25   4351.61 -0.0382    D04
922          922  2015-09-02   4636.10   4673.61 -0.0294    D04
940          940  2015-09-29   4543.97   4665.06 -0.0304    D04
1010        1010  2016-01-08   4689.43   4736.40 -0.0303    D04
1014        1014  2016-01-14   4526.06   4706.02 -0.0341    D04
1030        1030  2016-02-08   4363.14   4491.48 -0.0325    D04
1127        1127  2016-06-27   4707.98   4715.80 -0.0412    D04
1533        1533  2018-02-06   6967.53   7165.96 -0.0378    D04
1536        1536  2018-02-09   6777.16   7067.30 -0.0390    D04
1568        1568  2018-03-28   7008.81   7255.47 -0.0293    D04
1705        1705  2018-10-11   7422.05   7694.08 -0.0408    D04
1715        1715  2018-10-25   7108.40   7423.21 -0.0443    D04
1733        1733  2018-11-20   7028.48   7217.24 -0.0303    D04
1743        1743  2018-12-06   7158.43   7407.95 -0.0380    D04
1745        1745  2018-12-10   6969.25   7163.49 -0.0305    D04
1755        1755  2018-12-24   6332.99   6573.48 -0.0299    D04
1762        1762  2019-01-04   6463.50   6584.77 -0.0304    D04
1851        1851  2019-05-14   7647.02   7720.07 -0.0341    D04
1909        1909  2019-08-06   7726.04   7823.33 -0.0347    D04
1916        1916  2019-08-15   7773.94   7877.33 -0.0302    D04
1923        1923  2019-08-26   7751.77   7943.65 -0.0300    D04
2048        2048  2020-02-25   9221.28   9188.44 -0.0371    D04
2051        2051  2020-02-28   8566.48   8744.03 -0.0461    D04
2054        2054  2020-03-04   8684.09   8965.10 -0.0299    D04
2056        2056  2020-03-06   8738.59   8790.09 -0.0310    D04
2058        2058  2020-03-10   7950.68   7957.93 -0.0729    D04
2060        2060  2020-03-12   7952.05   8136.25 -0.0470    D04
2061        2061  2020-03-13   7201.80   7398.58 -0.0943    D04
2063        2063  2020-03-17   6904.59   7392.73 -0.1232    D04
2065        2065  2020-03-19   6989.84   6902.32 -0.0470    D04
2067        2067  2020-03-23   6879.52   7248.07 -0.0379    D04
2072        2072  2020-03-30   7502.38   7554.25 -0.0379    D04
2075        2075  2020-04-02   7360.58   7459.50 -0.0441    D04
2088        2088  2020-04-22   8263.23   8460.69 -0.0348    D04
2096        2096  2020-05-04   8604.95   8681.29 -0.0320    D04
2124        2124  2020-06-12   9492.73   9791.24 -0.0527    D04
2183        2183  2020-09-04  11458.10  11861.90 -0.0496    D04
2185        2185  2020-09-09  10847.69  10900.70 -0.0411    D04
2196        2196  2020-09-24  10632.99  10950.83 -0.0302    D04
2221        2221  2020-10-29  11004.87  11230.90 -0.0373    D04

In [57]:
nas_d4

      Unnamed: 0        date     close      open  change nasdaq
105          105  2012-06-04   2747.48   2810.13 -0.0282    D04
571          571  2014-04-11   4054.11   4181.21 -0.0310    D04
914          914  2015-08-21   4877.49   4973.49 -0.0282    D04
915          915  2015-08-24   4706.04   4801.04 -0.0352    D04
916          916  2015-08-25   4526.25   4351.61 -0.0382    D04
922          922  2015-09-02   4636.10   4673.61 -0.0294    D04
940          940  2015-09-29   4543.97   4665.06 -0.0304    D04
1010        1010  2016-01-08   4689.43   4736.40 -0.0303    D04
1014        1014  2016-01-14   4526.06   4706.02 -0.0341    D04
1030        1030  2016-02-08   4363.14   4491.48 -0.0325    D04
1127        1127  2016-06-27   4707.98   4715.80 -0.0412    D04
1533        1533  2018-02-06   6967.53   7165.96 -0.0378    D04
1536        1536  2018-02-09   6777.16   7067.30 -0.0390    D04
1568        1568  2018-03-28   7008.81   7255.47 -0.0293    D04
1705        1705  2018-10-11   7422.05   7694.08 -0.0408    D04
1715        1715  2018-10-25   7108.40   7423.21 -0.0443    D04
1733        1733  2018-11-20   7028.48   7217.24 -0.0303    D04
1743        1743  2018-12-06   7158.43   7407.95 -0.0380    D04
1745        1745  2018-12-10   6969.25   7163.49 -0.0305    D04
1755        1755  2018-12-24   6332.99   6573.48 -0.0299    D04
1762        1762  2019-01-04   6463.50   6584.77 -0.0304    D04
1851        1851  2019-05-14   7647.02   7720.07 -0.0341    D04
1909        1909  2019-08-06   7726.04   7823.33 -0.0347    D04
1916        1916  2019-08-15   7773.94   7877.33 -0.0302    D04
1923        1923  2019-08-26   7751.77   7943.65 -0.0300    D04
2048        2048  2020-02-25   9221.28   9188.44 -0.0371    D04
2051        2051  2020-02-28   8566.48   8744.03 -0.0461    D04
2054        2054  2020-03-04   8684.09   8965.10 -0.0299    D04
2056        2056  2020-03-06   8738.59   8790.09 -0.0310    D04
2058        2058  2020-03-10   7950.68   7957.93 -0.0729    D04
2060        2060  2020-03-12   7952.05   8136.25 -0.0470    D04
2061        2061  2020-03-13   7201.80   7398.58 -0.0943    D04
2063        2063  2020-03-17   6904.59   7392.73 -0.1232    D04
2065        2065  2020-03-19   6989.84   6902.32 -0.0470    D04
2067        2067  2020-03-23   6879.52   7248.07 -0.0379    D04
2072        2072  2020-03-30   7502.38   7554.25 -0.0379    D04
2075        2075  2020-04-02   7360.58   7459.50 -0.0441    D04
2088        2088  2020-04-22   8263.23   8460.69 -0.0348    D04
2096        2096  2020-05-04   8604.95   8681.29 -0.0320    D04
2124        2124  2020-06-12   9492.73   9791.24 -0.0527    D04
2183        2183  2020-09-04  11458.10  11861.90 -0.0496    D04
2185        2185  2020-09-09  10847.69  10900.70 -0.0411    D04
2196        2196  2020-09-24  10632.99  10950.83 -0.0302    D04
2221        2221  2020-10-29  11004.87  11230.90 -0.0373    D04