In [1]:
import pandas as pd

In [9]:
stock_code_list = pd.read_csv("resources/stockcode.csv", dtype = {"종목코드" : str})["종목코드"]
stock_code_list

0       000020
1       000040
2       000050
3       000060
4       000070
         ...
2234    950160
2235    950170
2236    950180
2237    950190
2238    950200
Name: 종목코드, Length: 2239, dtype: object

In [22]:
raw_index = ["P00", "P01", "P02", "P03", "P04", "P05", "P10", "P11", "P13", "P14", "P15",
            "M00", "M01", "M02", "M03", "M04", "M05", "M10", "M11", "M13", "M14", "M15",
            "K00", "K01", "K02"]
col_index = ["U01", "U02", "U03", "U04", "D01", "D02", "D03", "D04", "T01", "raw_index"]
test_df = pd.DataFrame({"0":[0], "0":[0], "0":[0], "0":[0],
                        "0":[0], "0":[0], "0":[0], "0":[0], "0":[0],
                        "raw_index" : raw_index}, columns = col_index)
test_df = test_df.set_index("raw_index")
test_df = test_df.fillna(0)
test_df

           U01  U02  U03  U04  D01  D02  D03  D04  T01
raw_index
P00          0    0    0    0    0    0    0    0    0
P01          0    0    0    0    0    0    0    0    0
P02          0    0    0    0    0    0    0    0    0
P03          0    0    0    0    0    0    0    0    0
P04          0    0    0    0    0    0    0    0    0
P05          0    0    0    0    0    0    0    0    0
P10          0    0    0    0    0    0    0    0    0
P11          0    0    0    0    0    0    0    0    0
P13          0    0    0    0    0    0    0    0    0
P14          0    0    0    0    0    0    0    0    0
P15          0    0    0    0    0    0    0    0    0
M00          0    0    0    0    0    0    0    0    0
M01          0    0    0    0    0    0    0    0    0
M02          0    0    0    0    0    0    0    0    0
M03          0    0    0    0    0    0    0    0    0
M04          0    0    0    0    0    0    0    0    0
M05          0    0    0    0    0    0    0    0    0
M10          0    0    0    0    0    0    0    0    0
M11          0    0    0    0    0    0    0    0    0
M13          0    0    0    0    0    0    0    0    0
M14          0    0    0    0    0    0    0    0    0
M15          0    0    0    0    0    0    0    0    0
K00          0    0    0    0    0    0    0    0    0
K01          0    0    0    0    0    0    0    0    0
K02          0    0    0    0    0    0    0    0    0

In [41]:
len(stock_code_list)

2239

In [42]:
for i in range(2239) :
    stock_code = stock_code_list[i]
    temp_stock_data = pd.read_csv("resources/ohlcv_p1p2p3_nasdq/{}.csv".format(stock_code))
    for j in range(2, len(temp_stock_data)):
        nas_index = col_index.index(temp_stock_data_test["nasdaq"][j])
        pat_index = raw_index.index(temp_stock_data_test["pattern1"][j])
        test_df.iloc[pat_index, nas_index] += 1
test_df

              U01     U02    U03    U04     D01    D02    D03    D04     T01
raw_index
P00          1736    2143      0      0    5469   2063      0      0    4154
P01         35522   19939   1703   1952   12633  10086   3934   5374   39555
P02             0       0      0      0       0      0      0      0    1734
P03         53183   26998   7394   1733   33232  25347  17212  14890   98937
P04          7015    3291      0      0       0   2300   1756      0   12066
P05        282508   92821  40822  11984  164538  72111  49601  26210  303974
P10             0       0      0      0       0      0      0      0       0
P11             0       0      0      0    1649   1652      0      0       0
P13             0       0      0      0       0      0      0      0       0
P14             0       0      0      0       0      0      0      0       0
P15          1646       0      0      0    1647      0      0      0    5428
M00          9105    7662      0      0    7908   3486   2082      0   29941
M01        107949   42080  11326   6203   66561  25673  12699   1657  123251
M02         18788    5642      0   1720   11195   5859      0      0   15314
M03         45065    8365   5923   3406   27962  13800   3467      0   41947
M04          7722    1804      0      0    2183   1973      0   1723    9286
M05        310893  166492  67977   6755  234610  98328  30727  17144  469220
M10             0       0      0      0       0      0      0      0       0
M11             0       0      0      0       0      0      0      0       0
M13             0       0      0      0       0      0      0      0       0
M14             0       0      0      0       0      0      0      0       0
M15          1637       0   1933      0    3656      0      0   3309       0
K00        125260   45327   7642   1657   63678  31329   3936   1657  130138
K01         40499    2188   9986      0   29876   9683   6305   1684   47179
K02         10642    6148   1995      0    9912      0   1742      0   14712

In [23]:
temp_stock_data_test = pd.read_csv("resources/ohlcv_p1p2p3_nasdq/{}.csv".format("000020"))
temp_stock_data_test

,Unnamed: 0,date,open,high,low,close,volume,pattern1,pattern2,pattern3,nasdaq
0,0,2012-01-02,4070,4100,4060,4085,25451,K00,NaN,NaN,NaN
1,1,2012-01-03,4100,4160,4100,4130,45291,P03,K00P03,NaN,NaN
2,2,2012-01-04,4135,4160,4125,4150,42911,K00,P00K00,P10K00,U02
3,3,2012-01-05,4150,4290,4110,4270,85140,P05,K00P05,P10P05,T01
4,4,2012-01-06,4300,4325,4220,4240,45535,M05,P00M05,P10M05,U01
...,...,...,...,...,...,...,...,...,...,...,...
2167,2167,2020-10-23,19500,20600,19350,19800,563966,P05,M00P05,M10P05,T01
2168,2168,2020-10-26,19500,19750,17000,17100,1338181,M15,P00M15,S01M15,U01
2169,2169,2020-10-27,16850,18150,15900,17500,854079,P05,M10P05,S07P05,D02
2170,2170,2020-10-28,17250,19400,17250,18950,757160,P03,P00P03,S00P03,U01
2171,2171,2020-10-29,18400,19300,18300,19000,338062,P05,P00P05,P10P05,D04

In [27]:
temp_stock_data_test["nasdaq"][2]

'U02'

In [30]:
col_index.index(temp_stock_data_test["nasdaq"][2])

1

In [39]:
test_df

            U01  U02  U03  U04   D01  D02  D03  D04   T01
raw_index
P00          10   10    0    0    30   10    0    0    20
P01         180  100   10   10    60   50   20   30   200
P02           0    0    0    0     0    0    0    0    10
P03         260  140   40   10   170  130   90   80   510
P04          40   20    0    0     0   10   10    0    60
P05        1450  490  220   70   830  370  260  150  1540
P10           0    0    0    0     0    0    0    0     0
P11           0    0    0    0    10   10    0    0     0
P13           0    0    0    0     0    0    0    0     0
P14           0    0    0    0     0    0    0    0     0
P15          10    0    0    0    10    0    0    0    30
M00          50   40    0    0    40   20   10    0   160
M01         550  220   60   30   340  130   70   10   640
M02          90   30    0   10    60   30    0    0    80
M03         230   40   30   20   140   70   20    0   220
M04          40   10    0    0    10   10    0   10    50
M05        1590  870  360   40  1200  500  160  100  2410
M10           0    0    0    0     0    0    0    0     0
M11           0    0    0    0     0    0    0    0     0
M13           0    0    0    0     0    0    0    0     0
M14           0    0    0    0     0    0    0    0     0
M15          10    0   10    0    20    0    0   20     0
K00         650  230   40   10   320  160   20   10   660
K01         200   10   50    0   150   50   30   10   240
K02          60   30   10    0    50    0   10    0    70

In [45]:
test_df.to_csv("resources/test_df_raw_pat.csv")