In [2]:
from time import time

import pandas as pd
from pykrx import stock
import keras
keras.__version__

'2.3.1'

In [28]:
com_list = pd.read_csv("상장법인목록3.csv")

In [67]:
com_code = str(int(com_list[com_list["회사명"]=="삼성전자"]["종목코드"]))
com_code = "0"*(6-len(temp))+temp

In [ ]:
today = pd.Timestamp.now()
today = str(today.year)+str(today.month)+str(today.day)
today

In [91]:
df = stock.get_market_ohlcv_by_date("20170510", today, com_code)
df

삼성전자           시가     고가     저가     종가       거래량
날짜
2017-05-10  46160  47220  45600  45600    468219
2017-05-11  45420  46180  45220  45500    425557
2017-05-12  45760  46160  45660  45820    188458
2017-05-15  45620  46280  45620  46100    160028
2017-05-16  46660  46800  46100  46380    176075
...           ...    ...    ...    ...       ...
2020-10-08  60500  60700  59500  59700  24589924
2020-10-12  60000  60400  59900  60400  16145837
2020-10-13  61000  61400  60400  60900  19247631
2020-10-14  61000  61100  60500  60900  16086716
2020-10-15  60700  60800  59700  59900  13488911

[843 rows x 5 columns]