In [1]:
# pip install -U pykrx

Requirement already up-to-date: pykrx in /Users/lionking/opt/anaconda3/lib/python3.7/site-packages (0.1.41)
Requirement already satisfied, skipping upgrade: datetime in /Users/lionking/opt/anaconda3/lib/python3.7/site-packages (from pykrx) (4.3)
Requirement already satisfied, skipping upgrade: pandas in /Users/lionking/opt/anaconda3/lib/python3.7/site-packages (from pykrx) (1.0.1)
Requirement already satisfied, skipping upgrade: requests in /Users/lionking/opt/anaconda3/lib/python3.7/site-packages (from pykrx) (2.22.0)
Requirement already satisfied, skipping upgrade: xlrd in /Users/lionking/opt/anaconda3/lib/python3.7/site-packages (from pykrx) (1.2.0)
Requirement already satisfied, skipping upgrade: numpy in /Users/lionking/opt/anaconda3/lib/python3.7/site-packages (from pykrx) (1.18.1)
Requirement already satisfied, skipping upgrade: zope.interface in /Users/lionking/opt/anaconda3/lib/python3.7/site-packages (from datetime->pykrx) (5.1.2)
Requirement already satisfied, skipping upgrade: pytz in /Users/lionking/opt/anaconda3/lib/python3.7/site-packages (from datetime->pykrx) (2019.3)
Requirement already satisfied, skipping upgrade: python-dateutil>=2.6.1 in /Users/lionking/opt/anaconda3/lib/python3.7/site-packages (from pandas->pykrx) (2.8.1)
Requirement already satisfied, skipping upgrade: certifi>=2017.4.17 in /Users/lionking/opt/anaconda3/lib/python3.7/site-packages (from requests->pykrx) (2019.11.28)
Requirement already satisfied, skipping upgrade: idna<2.9,>=2.5 in /Users/lionking/opt/anaconda3/lib/python3.7/site-packages (from requests->pykrx) (2.8)
Requirement already satisfied, skipping upgrade: chardet<3.1.0,>=3.0.2 in /Users/lionking/opt/anaconda3/lib/python3.7/site-packages (from requests->pykrx) (3.0.4)
Requirement already satisfied, skipping upgrade: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /Users/lionking/opt/anaconda3/lib/python3.7/site-packages (from requests->pykrx) (1.25.8)
Requirement already satisfied, skipping upgrade: setuptools in /Users/lionking/opt/anaconda3/lib/python3.7/site-packages (from zope.interface->datetime->pykrx) (46.0.0.post20200309)
Requirement already satisfied, skipping upgrade: six>=1.5 in /Users/lionking/opt/anaconda3/lib/python3.7/site-packages (from python-dateutil>=2.6.1->pandas->pykrx) (1.14.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
from pykrx import stock

In [3]:
df = stock.get_market_ohlcv_by_date("19000101", "20201012", "005930")

In [4]:
df

삼성전자           시가     고가     저가     종가       거래량
날짜
1990-01-03  44000  45000  43200  44800     26240
1990-01-04  45000  45800  44800  45300     41900
1990-01-05  45000  45300  44300  44300     27400
1990-01-06  44800  45000  44500  44500     26380
1990-01-08  44500  44900  44000  44000     14790
...           ...    ...    ...    ...       ...
2020-10-05  57500  59200  57500  58700  20228289
2020-10-06  59400  59900  58700  59000  14463826
2020-10-07  58700  59900  58500  59900  14861838
2020-10-08  60500  60700  59500  59700  24589924
2020-10-12  60000  60400  59900  60400  16145837

[8016 rows x 5 columns]

In [5]:
# pip install PyMySQL

Requirement already satisfied: PyMySQL in /Users/lionking/opt/anaconda3/lib/python3.7/site-packages (0.10.1)
Note: you may need to restart the kernel to use updated packages.

In [6]:
import pymysql
from openpyxl import Workbook
from openpyxl import load_workbook

In [10]:
juso_db = pymysql.connect(
    user='root', 
    passwd='minihs1207', 
    host='lionking.local',
    port=3306, 
    db='tese01', 
    charset='utf8mb4'
)

In [11]:
curs = juso_db.cursor()

In [13]:
import mysql.connector

#------------------------------------------------------#

mysql_con = None


if __name__ == "__main__":


    try:

        mysql_con = mysql.connector.connect(host='localhost', port='3306', database='weather', user='root', password='root')
                                            
        mysql_cursor = mysql_con.cursor(dictionary=True)

        mysql_cursor.close()


    finally:
        if mysql_con is not None:
            mysql_con.close()

ModuleNotFoundError: No module named 'mysql'

In [1]:
import matplotlib
import matplotlib.pyplot as plt
import matplotlib.ticker as mticker
import matplotlib.dates as mdates
import numpy as np
from numpy import loadtxt
import time