In [7]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori
import numpy as np
from pykrx import stock

In [8]:
stock.get_market_ohlcv_by_date("20120101", "20201020", "900100")

뉴프라이드        시가   고가   저가   종가   거래량
날짜
2012-01-02  654  733  644  670  3756
2012-01-03  730  731  661  682  9559
2012-01-04  670  704  668  687  6526
2012-01-05  686  686  666  669  7258
2012-01-06  688  688  666  669  2473
...         ...  ...  ...  ...   ...
2020-10-14    0    0    0  717     0
2020-10-15    0    0    0  717     0
2020-10-16    0    0    0  717     0
2020-10-19    0    0    0  717     0
2020-10-20    0    0    0  717     0

[2165 rows x 5 columns]

In [2]:
def labellingD0(d0) -> str:
    '''
    D0 시점의 각 봉에 대한 라벨링 25가지
    '''
    openP = d0['open']
    highP = d0['high']
    lowP = d0['low']
    closeP = d0['close']
    
    # 장대 양봉
    if closeP >= 1.1*openP:
        if closeP < highP:
            if openP > lowP:
                return "P15"
            if highP - 2*closeP + openP >= 0:
                return "P14"
            return "P13"
        if openP > lowP:
            return "P11"
        return "P10"

    # 짧은 양봉
    elif closeP >= 1.005*openP:
        if closeP < highP:
            if openP > lowP:
                return "P05"
            if highP -3*closeP + 2*openP >= 0:
                return "P04"
            return "P03"
        if openP > lowP:
            if 2*highP - 3*openP + lowP >= 0:
                return "P01"
            return "P02"
        return "P00"

    # 보합
    elif closeP >= openP:
        end_min = closeP - lowP
        Max_end = highP - closeP
        if end_min > Max_end*3:
            return "K01"
        elif end_min*3 < Max_end:
            return "K02"
        return "K00"

    # 짧은 음봉
    elif closeP >= 0.9*openP:
        if openP < highP :
            if closeP > lowP :
                return "M05"
            if highP -3*openP +2*closeP < 0:
                return "M03"
            return "M04"
        if closeP > lowP :
            if 3*closeP - lowP - 2*openP < 0:
                return "M01"
            return "M02"
        return "M00"

    # 장대 음봉
    else:
        if closeP > lowP :
            if openP < highP :
                return "M15"
            return "M11"
        if openP < highP :
            if highP -2*openP + closeP >= 0:
                return "M14"
            return "M13"
        return "M10"


def labellingD1(d10) -> str:
    '''
    D1 5가지 x D0 25가지
    '''
    temp = d10.iloc[0]
    openP = temp['open']
    highP = temp['high']
    lowP = temp['low']
    closeP = temp['close']
    
    # 장대 양봉
    if closeP >= 1.1*openP:
        res = "P10"

    # 짧은 양봉
    elif closeP >= 1.005*openP:
        res = "P00"

    # 보합
    elif closeP >= openP:
        res = "K00"

    # 짧은 음봉
    elif closeP >= 0.9*openP:
        res = "M00"

    # 장대 음봉
    else:
        res = "M10"

    return res + labellingD0(d10.iloc[1])

def labellingD2(d210):
    d2_openP = d210.iloc[0]['open']
    d2_closeP = d210.iloc[0]['close']
    d1_openP = d210.iloc[1]['open']
    d1_closeP = d210.iloc[1]['close']
    
    d21_max = max(d2_openP, d2_closeP, d1_openP, d1_closeP)
    d21_avg = (d21_max + min(d2_openP, d2_closeP, d1_openP, d1_closeP))/2
    if d21_max/d21_avg <= 1.005:
        res = "S04"
    elif d2_openP <= d2_closeP: # D2 양봉
        if d1_openP <= d1_closeP:
            res = "P10"
        elif d2_openP >= d1_closeP:
            res = "S07"
        elif d2_closeP > d1_openP:
            res = "S06"
        elif d2_closeP >= d1_closeP:
            res = "S03"
        else:
            res = "S05"
    elif d2_openP >= d2_closeP: # D2 음봉
        if d1_openP >= d1_closeP:
            res = "M10"
        elif d2_closeP < d1_openP:
            res = "S01"
        elif d2_openP <= d1_closeP:
            res = "S02"
        elif d2_closeP >= d1_closeP:
            res = "S08"
        else:
            res = "S00" 
    else:
        res = "S09"
        
    return res + labellingD0(d210.iloc[2])

In [3]:
stock_list = pd.read_csv('../stockcode.csv')
stock_list

         회사명    종목코드
0       동화약품      20
1      KR모터스      40
2         경방      50
3      메리츠화재      60
4      삼양홀딩스      70
...      ...     ...
2375  코오롱티슈진  950160
2376     JTC  950170
2377     SNK  950180
2378     미투젠  950190
2379     소마젠  950200

[2380 rows x 2 columns]

In [ ]:
today = pd.Timestamp.now()
today = str(today.year)+str(today.month)+str(today.day)
for stock_index in range(len(stock_list)):
    stock_code = str(stock_list['종목코드'][stock_index])
    if len(stock_code) < 6 : 
        stock_code = "0"*(6-len(stock_code)) + stock_code
    stockData = stock.get_market_ohlcv_by_date("20120101", today, stock_code)    # TODO: 종목코드를 csv에서 불러오기
    stockData.columns = pd.Index(["open", "high","low","close","volume"],name=stockData.columns.name)

    stockData['pattern1'] = None
    for i in range(len(stockData)):
        stockData['pattern1'].values[i]  = labellingD0(stockData.iloc[i])

    stockData['pattern2'] = None
    for i in range(1,len(stockData)):
        stockData['pattern2'].values[i] = labellingD1(stockData.iloc[i-1:i+1])

    stockData['pattern3'] = None
    for i in range(2,len(stockData)):
        stockData['pattern3'].values[i] = labellingD2(stockData.iloc[i-2:i+1])
##############################################################################################################################    
    globals()['A' + stock_code + '_1bong'] = stockData["pattern1"]
    
    
    globals()['A' + stock_code + '_bong_list'] = []
    for i in range(0, len(stockData)-2):
        globals()['A' + stock_code + '_1bong' + str(i)] = []
        globals()['A' + stock_code + '_1bong' + str(i)].append("01" + stockData["pattern1"][i])
        globals()['A' + stock_code + '_1bong' + str(i)].append("02" + stockData["pattern1"][i+1])
        globals()['A' + stock_code + '_1bong' + str(i)].append("03" + stockData["pattern1"][i+2])
        globals()['A' + stock_code + '_bong_list'].append(globals()['A' + stock_code + '_1bong'+ str(i)])
    d0 = "02" + stockData["pattern1"][-1]
    d1 = "01" + stockData["pattern1"][-2]
    A = {'P_score' : 0, 'stock_name' : stockData.columns.name, 'stock_code' : stock_code, 
         'P0' : 0, 'P1' : 0, 'M0' : 0, 'M1' : 0, 'K0' : 0}
    for s in globals()['A' + stock_code + '_bong_list'] :
        if d0 in s:
            if d1 in s :
                if "P0" in s[2] :
                    A["P0"] += 1
                elif "P1" in s[2] :
                    A["P1"] += 1
                elif "M0" in s[2] :
                    A["M0"] += 1
                elif "M1" in s[2] :
                    A["M1"] += 1
                elif "K0" in s[2] :
                    A["K0"] += 1
    if (A['P0']+A['P1']+A['M0']+A['M1']+A['K0']) == 0:
        pass
    else :
        A['P_score'] = ((A['P0']+A['P1']) / (A['P0']+A['P1']+A['M0']+A['M1']+A['K0']))
    print(A)

{'P_score': 0.350210970464135, 'stock_name': '동화약품', 'stock_code': '000020', 'P0': 83, 'P1': 0, 'M0': 120, 'M1': 0, 'K0': 34}
{'P_score': 0.3076923076923077, 'stock_name': 'KR모터스', 'stock_code': '000040', 'P0': 8, 'P1': 0, 'M0': 15, 'M1': 0, 'K0': 3}
{'P_score': 0.75, 'stock_name': '경방', 'stock_code': '000050', 'P0': 3, 'P1': 0, 'M0': 1, 'M1': 0, 'K0': 0}
{'P_score': 0.31666666666666665, 'stock_name': '메리츠화재', 'stock_code': '000060', 'P0': 19, 'P1': 0, 'M0': 35, 'M1': 0, 'K0': 6}
{'P_score': 0.75, 'stock_name': '삼양홀딩스', 'stock_code': '000070', 'P0': 3, 'P1': 0, 'M0': 1, 'M1': 0, 'K0': 0}
{'P_score': 0.29365079365079366, 'stock_name': '하이트진로', 'stock_code': '000080', 'P0': 37, 'P1': 0, 'M0': 70, 'M1': 0, 'K0': 19}
{'P_score': 0.4166666666666667, 'stock_name': '유한양행', 'stock_code': '000100', 'P0': 99, 'P1': 1, 'M0': 108, 'M1': 0, 'K0': 32}
{'P_score': 0.3722627737226277, 'stock_name': 'CJ대한통운', 'stock_code': '000120', 'P0': 51, 'P1': 0, 'M0': 72, 'M1': 0, 'K0': 14}
{'P_score': 0.38571428571428573, 'stock_name': '하이트진로홀딩스', 'stock_code': '000140', 'P0': 27, 'P1': 0, 'M0': 32, 'M1': 0, 'K0': 11}
{'P_score': 0.3333333333333333, 'stock_name': '두산', 'stock_code': '000150', 'P0': 32, 'P1': 0, 'M0': 50, 'M1': 1, 'K0': 13}
{'P_score': 0.0, 'stock_name': '성창기업지주', 'stock_code': '000180', 'P0': 0, 'P1': 0, 'M0': 1, 'M1': 0, 'K0': 0}
{'P_score': 0.0, 'stock_name': '대림산업', 'stock_code': '000210', 'P0': 0, 'P1': 0, 'M0': 0, 'M1': 0, 'K0': 1}
{'P_score': 0.27586206896551724, 'stock_name': '유유제약', 'stock_code': '000220', 'P0': 8, 'P1': 0, 'M0': 14, 'M1': 0, 'K0': 7}
{'P_score': 0.6, 'stock_name': '일동홀딩스', 'stock_code': '000230', 'P0': 9, 'P1': 0, 'M0': 4, 'M1': 0, 'K0': 2}
{'P_score': 0.37037037037037035, 'stock_name': '한국테크놀로지그룹', 'stock_code': '000240', 'P0': 10, 'P1': 0, 'M0': 13, 'M1': 0, 'K0': 4}

In [94]:
stock_code

'033180'

In [96]:
A033180_1bong

날짜
2012-01-02    P05
2012-01-03    P05
2012-01-04    P03
2012-01-05    M02
2012-01-06    P05
             ...
2020-10-15    M05
2020-10-16    M05
2020-10-19    M05
2020-10-20    P05
2020-10-21    K00
Name: pattern1, Length: 2166, dtype: object

In [31]:
bong_list[2161]

['01M05', '02M05', '03P05']

In [28]:
te = TransactionEncoder()
te_ary = te.fit(bong_list).transform(bong_list)
df = pd.DataFrame(te_ary, columns=te.columns_)

In [29]:
df

,01K00,01K01,01K02,01M00,01M01,01M02,01M03,01M04,01M05,01P00,...,03M03,03M04,03M05,03P00,03P01,03P02,03P03,03P04,03P05,03P10
0,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,True,False,...,False,False,True,False,False,False,False,False,False,False
3,False,False,False,False,False,False,True,False,False,False,...,False,False,True,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2157,False,False,False,False,False,False,False,False,True,False,...,False,False,True,False,False,False,False,False,False,False
2158,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False
2159,False,False,False,False,False,False,False,False,True,False,...,False,False,True,False,False,False,False,False,False,False
2160,False,False,False,False,False,False,False,False,True,False,...,False,False,True,False,False,False,False,False,False,False
2161,False,False,False,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,True,False

In [35]:
frequent_itemsets = apriori(df, min_support=0.001, use_colnames=True)
frequent_itemsets

      support               itemsets
0    0.109621                (01K00)
1    0.057817                (01K01)
2    0.018039                (01K02)
3    0.015264                (01M00)
4    0.069843                (01M01)
..        ...                    ...
553  0.001388  (01P05, 03M03, 02P05)
554  0.012951  (03M05, 01P05, 02P05)
555  0.002313  (01P05, 02P05, 03P01)
556  0.002775  (01P05, 02P05, 03P03)
557  0.008788  (03P05, 01P05, 02P05)

[558 rows x 2 columns]

In [36]:
from mlxtend.frequent_patterns import association_rules
association_rules(frequent_itemsets, metric="confidence", min_threshold=0.3)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(01K02),(02M05),0.018039,0.316374,0.007863,0.435897,1.377793,0.002156,1.211883
1,(01K02),(03M05),0.018039,0.316374,0.006938,0.384615,1.215700,0.001231,1.110893
2,(01M01),(02M05),0.069843,0.316374,0.023589,0.337748,1.067561,0.001493,1.032276
3,(01M02),(02M05),0.011101,0.316374,0.004625,0.416667,1.317008,0.001113,1.171931
4,(01M02),(03M05),0.011101,0.316374,0.005088,0.458333,1.448709,0.001576,1.262079
...,...,...,...,...,...,...,...,...,...
198,"(01P05, 02P01)",(03M05),0.012026,0.316374,0.006938,0.576923,1.823549,0.003133,1.615844
199,"(03K01, 02P03)",(01P05),0.003700,0.192414,0.001388,0.375000,1.948918,0.000676,1.292137
200,"(03P01, 02P03)",(01P05),0.002313,0.192414,0.001388,0.600000,3.118269,0.000943,2.018964
201,"(03P05, 02P03)",(01P05),0.011101,0.192414,0.003700,0.333333,1.732372,0.001564,1.211378
202,"(01P05, 02P05)",(03M05),0.039315,0.316374,0.012951,0.329412,1.041211,0.000513,1.019443

In [38]:
bong_list[-1]

['01M05', '02M05', '03P05']

In [42]:
d0 = "02" + samsung_1bong[-1]
d1 = "01" + samsung_1bong[-2]
A = {}
for s in bong_list :
    if d0 in s:
        if d1 in s :
            A["{}".format(s[2])] =0 
for s in bong_list :
    if d0 in s:
        if d1 in s :
            A["{}".format(s[2])] += 1
print(A)

{'03M05': 40, '03K00': 12, '03K01': 12, '03P01': 9, '03P05': 29, '03M01': 10, '03M03': 14, '03M04': 2, '03M00': 3, '03P04': 1, '03P03': 8, '03K02': 2, '03P02': 1}

In [43]:
d0 = "02" + samsung_1bong[-1]
d1 = "01" + samsung_1bong[-2]
A = {'P0' : 0, 'P1' : 0, 'M0' : 0, 'M1' : 0, 'K0' : 0}
for s in bong_list :
    if d0 in s:
        if d1 in s :
            if "P0" in s[2] :
                A["P0"] += 1
            elif "P1" in s[2] :
                A["P1"] += 1
            elif "M0" in s[2] :
                A["M0"] += 1
            elif "M1" in s[2] :
                A["M1"] += 1
            elif "K0" in s[2] :
                A["K0"] += 1
print(A)

{'P0': 48, 'P1': 0, 'M0': 69, 'M1': 0, 'K0': 26}

In [4]:
today = pd.Timestamp.now()
today = str(today.year)+str(today.month)+str(today.day)
for stock_index in range(100,200):
    stock_code = str(stock_list['종목코드'][stock_index])
    if len(stock_code) < 6 : 
        stock_code = "0"*(6-len(stock_code)) + stock_code
    stockData = stock.get_market_ohlcv_by_date("20120101", today, stock_code)    # TODO: 종목코드를 csv에서 불러오기
    stockData.columns = pd.Index(["open", "high","low","close","volume"],name=stockData.columns.name)

    stockData['pattern1'] = None
    for i in range(len(stockData)):
        stockData['pattern1'].values[i]  = labellingD0(stockData.iloc[i])

    stockData['pattern2'] = None
    for i in range(1,len(stockData)):
        stockData['pattern2'].values[i] = labellingD1(stockData.iloc[i-1:i+1])

    stockData['pattern3'] = None
    for i in range(2,len(stockData)):
        stockData['pattern3'].values[i] = labellingD2(stockData.iloc[i-2:i+1])
##############################################################################################################################    
    globals()['A' + stock_code + '_1bong'] = stockData["pattern1"]
    
    
    globals()['A' + stock_code + '_bong_list'] = []
    for i in range(0, len(stockData)-2):
        globals()['A' + stock_code + '_1bong' + str(i)] = []
        globals()['A' + stock_code + '_1bong' + str(i)].append("01" + stockData["pattern1"][i])
        globals()['A' + stock_code + '_1bong' + str(i)].append("02" + stockData["pattern1"][i+1])
        globals()['A' + stock_code + '_1bong' + str(i)].append("03" + stockData["pattern1"][i+2])
        globals()['A' + stock_code + '_bong_list'].append(globals()['A' + stock_code + '_1bong'+ str(i)])
    d0 = "02" + stockData["pattern1"][-1]
    d1 = "01" + stockData["pattern1"][-2]
    A = {'P_score' : 0, 'stock_name' : stockData.columns.name, 'stock_code' : stock_code, 
         'P0' : 0, 'P1' : 0, 'M0' : 0, 'M1' : 0, 'K0' : 0}
    for s in globals()['A' + stock_code + '_bong_list'] :
        if d0 in s:
            if d1 in s :
                if "P0" in s[2] :
                    A["P0"] += 1
                elif "P1" in s[2] :
                    A["P1"] += 1
                elif "M0" in s[2] :
                    A["M0"] += 1
                elif "M1" in s[2] :
                    A["M1"] += 1
                elif "K0" in s[2] :
                    A["K0"] += 1
    if (A['P0']+A['P1']+A['M0']+A['M1']+A['K0']) == 0:
        pass
    else :
        A['P_score'] = ((A['P0']+A['P1']) / (A['P0']+A['P1']+A['M0']+A['M1']+A['K0']))
    print(A)

{'P_score': 0.3157894736842105, 'stock_name': '고려산업', 'stock_code': '002140', 'P0': 11, 'P1': 1, 'M0': 20, 'M1': 1, 'K0': 5}
{'P_score': 0.3684210526315789, 'stock_name': '도화엔지니어링', 'stock_code': '002150', 'P0': 14, 'P1': 0, 'M0': 17, 'M1': 1, 'K0': 6}
{'P_score': 0.345679012345679, 'stock_name': '삼양통상', 'stock_code': '002170', 'P0': 28, 'P1': 0, 'M0': 41, 'M1': 0, 'K0': 12}
{'P_score': 0.2807017543859649, 'stock_name': '한국수출포장', 'stock_code': '002200', 'P0': 16, 'P1': 0, 'M0': 30, 'M1': 0, 'K0': 11}
{'P_score': 0.3684210526315789, 'stock_name': '동성제약', 'stock_code': '002210', 'P0': 21, 'P1': 0, 'M0': 26, 'M1': 0, 'K0': 10}
{'P_score': 0.25, 'stock_name': '한일철강', 'stock_code': '002220', 'P0': 9, 'P1': 0, 'M0': 21, 'M1': 0, 'K0': 6}
{'P_score': 0.5454545454545454, 'stock_name': '피에스텍', 'stock_code': '002230', 'P0': 6, 'P1': 0, 'M0': 3, 'M1': 0, 'K0': 2}
{'P_score': 0.25, 'stock_name': '고려제강', 'stock_code': '002240', 'P0': 7, 'P1': 0, 'M0': 14, 'M1': 0, 'K0': 7}
{'P_score': 0.3125, 'stock_name': '롯데푸드', 'stock_code': '002270', 'P0': 5, 'P1': 0, 'M0': 9, 'M1': 0, 'K0': 2}
{'P_score': 0.3, 'stock_name': '삼일기업공사', 'stock_code': '002290', 'P0': 37, 'P1': 2, 'M0': 72, 'M1': 2, 'K0': 17}
{'P_score': 0.40350877192982454, 'stock_name': '아세아제지', 'stock_code': '002310', 'P0': 23, 'P1': 0, 'M0': 26, 'M1': 0, 'K0': 8}
{'P_score': 0.37218045112781956, 'stock_name': '한진', 'stock_code': '002320', 'P0': 97, 'P1': 2, 'M0': 137, 'M1': 0, 'K0': 30}
{'P_score': 0.08333333333333333, 'stock_name': '넥센타이어', 'stock_code': '002350', 'P0': 1, 'P1': 0, 'M0': 7, 'M1': 0, 'K0': 4}
{'P_score': 0, 'stock_name': 'SH에너지화학', 'stock_code': '002360', 'P0': 0, 'P1': 0, 'M0': 0, 'M1': 0, 'K0': 0}
{'P_score': 0.3657587548638132, 'stock_name': 'KCC', 'stock_code': '002380', 'P0': 94, 'P1': 0, 'M0': 116, 'M1': 0, 'K0': 47}
{'P_score': 0.4339622641509434, 'stock_name': '한독', 'stock_code': '002390', 'P0': 66, 'P1': 3, 'M0': 77, 'M1': 0, 'K0': 13}
{'P_score': 0.3191489361702128, 'stock_name': '범양건영', 'stock_code': '002410', 'P0': 26, 'P1': 4, 'M0': 56, 'M1': 1, 'K0': 7}
{'P_score': 0.9565217391304348, 'stock_name': '세기상사', 'stock_code': '002420', 'P0': 3, 'P1': 41, 'M0': 1, 'M1': 0, 'K0': 1}
{'P_score': 0.5384615384615384, 'stock_name': '삼익악기', 'stock_code': '002450', 'P0': 7, 'P1': 0, 'M0': 4, 'M1': 0, 'K0': 2}
{'P_score': 0.33035714285714285, 'stock_name': '화성산업', 'stock_code': '002460', 'P0': 36, 'P1': 1, 'M0': 62, 'M1': 0, 'K0': 13}
{'P_score': 0.6923076923076923, 'stock_name': '조흥', 'stock_code': '002600', 'P0': 9, 'P1': 0, 'M0': 3, 'M1': 0, 'K0': 1}
{'P_score': 0.4117647058823529, 'stock_name': '제일파마홀딩스', 'stock_code': '002620', 'P0': 14, 'P1': 0, 'M0': 14, 'M1': 0, 'K0': 6}
{'P_score': 0.2542372881355932, 'stock_name': '오리엔트바이오', 'stock_code': '002630', 'P0': 15, 'P1': 0, 'M0': 35, 'M1': 0, 'K0': 9}
{'P_score': 0.5, 'stock_name': '한탑', 'stock_code': '002680', 'P0': 2, 'P1': 0, 'M0': 2, 'M1': 0, 'K0': 0}
{'P_score': 0.43636363636363634, 'stock_name': '동일제강', 'stock_code': '002690', 'P0': 23, 'P1': 1, 'M0': 24, 'M1': 0, 'K0': 7}
{'P_score': 0.14285714285714285, 'stock_name': '신일전자', 'stock_code': '002700', 'P0': 1, 'P1': 0, 'M0': 5, 'M1': 0, 'K0': 1}
{'P_score': 0.29411764705882354, 'stock_name': 'TCC스틸', 'stock_code': '002710', 'P0': 20, 'P1': 0, 'M0': 40, 'M1': 0, 'K0': 8}
{'P_score': 0.3333333333333333, 'stock_name': '국제약품', 'stock_code': '002720', 'P0': 65, 'P1': 7, 'M0': 128, 'M1': 0, 'K0': 16}
{'P_score': 0.5, 'stock_name': '보락', 'stock_code': '002760', 'P0': 18, 'P1': 0, 'M0': 17, 'M1': 0, 'K0': 1}
{'P_score': 0.37656903765690375, 'stock_name': '진흥기업', 'stock_code': '002780', 'P0': 80, 'P1': 10, 'M0': 115, 'M1': 1, 'K0': 33}
{'P_score': 0.5833333333333334, 'stock_name': '아모레G', 'stock_code': '002790', 'P0': 7, 'P1': 0, 'M0': 5, 'M1': 0, 'K0': 0}
{'P_score': 0.4027777777777778, 'stock_name': '신신제약', 'stock_code': '002800', 'P0': 28, 'P1': 1, 'M0': 38, 'M1': 0, 'K0': 5}
{'P_score': 0.32653061224489793, 'stock_name': '삼영무역', 'stock_code': '002810', 'P0': 16, 'P1': 0, 'M0': 21, 'M1': 0, 'K0': 12}
{'P_score': 0.34615384615384615, 'stock_name': '선창산업', 'stock_code': '002820', 'P0': 9, 'P1': 0, 'M0': 13, 'M1': 0, 'K0': 4}
{'P_score': 0.25, 'stock_name': '미원상사', 'stock_code': '002840', 'P0': 1, 'P1': 0, 'M0': 0, 'M1': 0, 'K0': 3}
{'P_score': 0.2857142857142857, 'stock_name': '신풍제지', 'stock_code': '002870', 'P0': 2, 'P1': 0, 'M0': 4, 'M1': 0, 'K0': 1}
{'P_score': 0, 'stock_name': '대유에이텍', 'stock_code': '002880', 'P0': 0, 'P1': 0, 'M0': 0, 'M1': 0, 'K0': 0}
{'P_score': 0.3333333333333333, 'stock_name': '동양물산', 'stock_code': '002900', 'P0': 3, 'P1': 0, 'M0': 4, 'M1': 0, 'K0': 2}
{'P_score': 0.24324324324324326, 'stock_name': '유성기업', 'stock_code': '002920', 'P0': 9, 'P1': 0, 'M0': 18, 'M1': 0, 'K0': 10}
{'P_score': 0.2727272727272727, 'stock_name': '한국쉘석유', 'stock_code': '002960', 'P0': 3, 'P1': 0, 'M0': 2, 'M1': 0, 'K0': 6}
{'P_score': 0.3, 'stock_name': '금호산업', 'stock_code': '002990', 'P0': 3, 'P1': 0, 'M0': 6, 'M1': 0, 'K0': 1}
{'P_score': 0.3055555555555556, 'stock_name': '부광약품', 'stock_code': '003000', 'P0': 33, 'P1': 0, 'M0': 62, 'M1': 0, 'K0': 13}
{'P_score': 0.3132530120481928, 'stock_name': '혜인', 'stock_code': '003010', 'P0': 25, 'P1': 1, 'M0': 47, 'M1': 0, 'K0': 10}
{'P_score': 0.38095238095238093, 'stock_name': '세아제강지주', 'stock_code': '003030', 'P0': 8, 'P1': 0, 'M0': 8, 'M1': 0, 'K0': 5}
{'P_score': 0.3333333333333333, 'stock_name': '에이프로젠제약', 'stock_code': '003060', 'P0': 4, 'P1': 0, 'M0': 8, 'M1': 0, 'K0': 0}
{'P_score': 0.35251798561151076, 'stock_name': '코오롱글로벌', 'stock_code': '003070', 'P0': 49, 'P1': 0, 'M0': 72, 'M1': 0, 'K0': 18}
{'P_score': 0.3333333333333333, 'stock_name': '성보화학', 'stock_code': '003080', 'P0': 6, 'P1': 0, 'M0': 7, 'M1': 1, 'K0': 4}
{'P_score': 0.38513513513513514, 'stock_name': '대웅', 'stock_code': '003090', 'P0': 57, 'P1': 0, 'M0': 81, 'M1': 0, 'K0': 10}
{'P_score': 0.3157894736842105, 'stock_name': '선광', 'stock_code': '003100', 'P0': 6, 'P1': 0, 'M0': 8, 'M1': 0, 'K0': 5}
{'P_score': 0.4, 'stock_name': '일성신약', 'stock_code': '003120', 'P0': 4, 'P1': 0, 'M0': 3, 'M1': 0, 'K0': 3}
{'P_score': 0.42105263157894735, 'stock_name': '디아이', 'stock_code': '003160', 'P0': 7, 'P1': 1, 'M0': 8, 'M1': 1, 'K0': 2}
{'P_score': 0.30985915492957744, 'stock_name': '일신방직', 'stock_code': '003200', 'P0': 22, 'P1': 0, 'M0': 36, 'M1': 0, 'K0': 13}
{'P_score': 0.395, 'stock_name': '대원제약', 'stock_code': '003220', 'P0': 79, 'P1': 0, 'M0': 96, 'M1': 0, 'K0': 25}
{'P_score': 0.2727272727272727, 'stock_name': '삼양식품', 'stock_code': '003230', 'P0': 15, 'P1': 0, 'M0': 33, 'M1': 0, 'K0': 7}
{'P_score': 0.38095238095238093, 'stock_name': '태광산업', 'stock_code': '003240', 'P0': 8, 'P1': 0, 'M0': 11, 'M1': 0, 'K0': 2}
{'P_score': 0.9932885906040269, 'stock_name': '흥아해운', 'stock_code': '003280', 'P0': 0, 'P1': 148, 'M0': 1, 'M1': 0, 'K0': 0}
{'P_score': 0.4166666666666667, 'stock_name': '한일홀딩스', 'stock_code': '003300', 'P0': 5, 'P1': 0, 'M0': 4, 'M1': 0, 'K0': 3}
{'P_score': 0.417910447761194, 'stock_name': '대주산업', 'stock_code': '003310', 'P0': 51, 'P1': 5, 'M0': 67, 'M1': 1, 'K0': 10}
{'P_score': 0.4, 'stock_name': '한국화장품제조', 'stock_code': '003350', 'P0': 3, 'P1': 1, 'M0': 5, 'M1': 0, 'K0': 1}
{'P_score': 0.3333333333333333, 'stock_name': '하림지주', 'stock_code': '003380', 'P0': 12, 'P1': 0, 'M0': 17, 'M1': 0, 'K0': 7}
{'P_score': 0.3333333333333333, 'stock_name': '쌍용양회', 'stock_code': '003410', 'P0': 1, 'P1': 0, 'M0': 1, 'M1': 0, 'K0': 1}
{'P_score': 0.24324324324324326, 'stock_name': '유화증권', 'stock_code': '003460', 'P0': 18, 'P1': 0, 'M0': 25, 'M1': 0, 'K0': 31}
{'P_score': 0, 'stock_name': '유안타증권', 'stock_code': '003470', 'P0': 0, 'P1': 0, 'M0': 0, 'M1': 0, 'K0': 0}
{'P_score': 0.42857142857142855, 'stock_name': '한진중공업홀딩스', 'stock_code': '003480', 'P0': 21, 'P1': 0, 'M0': 19, 'M1': 0, 'K0': 9}
{'P_score': 0.3185840707964602, 'stock_name': '대한항공', 'stock_code': '003490', 'P0': 36, 'P1': 0, 'M0': 58, 'M1': 0, 'K0': 19}
{'P_score': 0.2978723404255319, 'stock_name': '영진약품', 'stock_code': '003520', 'P0': 12, 'P1': 2, 'M0': 31, 'M1': 0, 'K0': 2}
{'P_score': 0.1111111111111111, 'stock_name': '한화투자증권', 'stock_code': '003530', 'P0': 2, 'P1': 0, 'M0': 15, 'M1': 0, 'K0': 1}
{'P_score': 0.2, 'stock_name': '대신증권', 'stock_code': '003540', 'P0': 1, 'P1': 0, 'M0': 3, 'M1': 0, 'K0': 1}

{'P_score': 0.18181818181818182, 'stock_name': 'LG', 'stock_code': '003550', 'P0': 2, 'P1': 0, 'M0': 7, 'M1': 0, 'K0': 2}
{'P_score': 0.3968253968253968, 'stock_name': 'IHQ', 'stock_code': '003560', 'P0': 24, 'P1': 1, 'M0': 33, 'M1': 0, 'K0': 5}
{'P_score': 0.3125, 'stock_name': 'S&T중공업', 'stock_code': '003570', 'P0': 5, 'P1': 0, 'M0': 8, 'M1': 0, 'K0': 3}
{'P_score': 0.5714285714285714, 'stock_name': '넥스트사이언스', 'stock_code': '003580', 'P0': 8, 'P1': 0, 'M0': 3, 'M1': 0, 'K0': 3}
{'P_score': 0.3076923076923077, 'stock_name': '방림', 'stock_code': '003610', 'P0': 12, 'P1': 0, 'M0': 19, 'M1': 0, 'K0': 8}
{'P_score': 0.42592592592592593, 'stock_name': '쌍용차', 'stock_code': '003620', 'P0': 23, 'P1': 0, 'M0': 25, 'M1': 0, 'K0': 6}
{'P_score': 1.0, 'stock_name': '미창석유', 'stock_code': '003650', 'P0': 2, 'P1': 0, 'M0': 0, 'M1': 0, 'K0': 0}
{'P_score': 0.26666666666666666, 'stock_name': '포스코케미칼', 'stock_code': '003670', 'P0': 8, 'P1': 0, 'M0': 15, 'M1': 0, 'K0': 7}
{'P_score': 0.25, 'stock_name': '한성기업', 'stock_code': '003680', 'P0': 1, 'P1': 0, 'M0': 3, 'M1': 0, 'K0': 0}
{'P_score': 0.3023255813953488, 'stock_name': '코리안리', 'stock_code': '003690', 'P0': 13, 'P1': 0, 'M0': 23, 'M1': 0, 'K0': 7}
{'P_score': 0.25316455696202533, 'stock_name': '삼영화학', 'stock_code': '003720', 'P0': 20, 'P1': 0, 'M0': 49, 'M1': 0, 'K0': 10}
{'P_score': 0.358695652173913, 'stock_name': '진양산업', 'stock_code': '003780', 'P0': 33, 'P1': 0, 'M0': 45, 'M1': 0, 'K0': 14}
{'P_score': 0.375, 'stock_name': '에이스침대', 'stock_code': '003800', 'P0': 3, 'P1': 0, 'M0': 4, 'M1': 0, 'K0': 1}
{'P_score': 0.4027777777777778, 'stock_name': '대한화섬', 'stock_code': '003830', 'P0': 29, 'P1': 0, 'M0': 29, 'M1': 0, 'K0': 14}
{'P_score': 0.373134328358209, 'stock_name': '보령제약', 'stock_code': '003850', 'P0': 74, 'P1': 1, 'M0': 103, 'M1': 0, 'K0': 23}
{'P_score': 0.4, 'stock_name': '남양유업', 'stock_code': '003920', 'P0': 8, 'P1': 0, 'M0': 7, 'M1': 0, 'K0': 5}
{'P_score': 0.35, 'stock_name': '사조대림', 'stock_code': '003960', 'P0': 27, 'P1': 1, 'M0': 42, 'M1': 1, 'K0': 9}
{'P_score': 0.3333333333333333, 'stock_name': '롯데정밀화학', 'stock_code': '004000', 'P0': 6, 'P1': 0, 'M0': 10, 'M1': 0, 'K0': 2}
{'P_score': 0.35714285714285715, 'stock_name': '현대제철', 'stock_code': '004020', 'P0': 15, 'P1': 0, 'M0': 20, 'M1': 0, 'K0': 7}
{'P_score': 0.28846153846153844, 'stock_name': 'SG세계물산', 'stock_code': '004060', 'P0': 13, 'P1': 2, 'M0': 30, 'M1': 0, 'K0': 7}
{'P_score': 0.30303030303030304, 'stock_name': '신흥', 'stock_code': '004080', 'P0': 19, 'P1': 1, 'M0': 22, 'M1': 0, 'K0': 24}
{'P_score': 0.11764705882352941, 'stock_name': '한국석유', 'stock_code': '004090', 'P0': 2, 'P1': 0, 'M0': 11, 'M1': 0, 'K0': 4}
{'P_score': 0.1935483870967742, 'stock_name': '태양금속', 'stock_code': '004100', 'P0': 6, 'P1': 0, 'M0': 17, 'M1': 0, 'K0': 8}
{'P_score': 0.5238095238095238, 'stock_name': '동방', 'stock_code': '004140', 'P0': 10, 'P1': 1, 'M0': 8, 'M1': 0, 'K0': 2}
{'P_score': 0.391304347826087, 'stock_name': '한솔홀딩스', 'stock_code': '004150', 'P0': 9, 'P1': 0, 'M0': 12, 'M1': 0, 'K0': 2}
{'P_score': 0.3567567567567568, 'stock_name': '신세계', 'stock_code': '004170', 'P0': 66, 'P1': 0, 'M0': 101, 'M1': 0, 'K0': 18}
{'P_score': 0.5833333333333334, 'stock_name': 'NPC', 'stock_code': '004250', 'P0': 7, 'P1': 0, 'M0': 4, 'M1': 0, 'K0': 1}
{'P_score': 0.125, 'stock_name': '남성', 'stock_code': '004270', 'P0': 1, 'P1': 0, 'M0': 5, 'M1': 0, 'K0': 2}
{'P_score': 0.5121951219512195, 'stock_name': '현대약품', 'stock_code': '004310', 'P0': 21, 'P1': 0, 'M0': 17, 'M1': 0, 'K0': 3}
{'P_score': 0.24, 'stock_name': '세방', 'stock_code': '004360', 'P0': 6, 'P1': 0, 'M0': 12, 'M1': 0, 'K0': 7}
{'P_score': 0.4013605442176871, 'stock_name': '농심', 'stock_code': '004370', 'P0': 59, 'P1': 0, 'M0': 70, 'M1': 0, 'K0': 18}
{'P_score': 0.08333333333333333, 'stock_name': '삼익THK', 'stock_code': '004380', 'P0': 1, 'P1': 0, 'M0': 10, 'M1': 0, 'K0': 1}

In [6]:
#today = pd.Timestamp.now()
#today = str(today.year)+str(today.month)+str(today.day)
for stock_index in range(1000,1500):
    stock_code = str(stock_list['종목코드'][stock_index])
    if len(stock_code) < 6 : 
        stock_code = "0"*(6-len(stock_code)) + stock_code
    stockData = stock.get_market_ohlcv_by_date("20120101", "20201009", stock_code)    # TODO: 종목코드를 csv에서 불러오기
    stockData.columns = pd.Index(["open", "high","low","close","volume"],name=stockData.columns.name)

    stockData['pattern1'] = None
    for i in range(len(stockData)):
        stockData['pattern1'].values[i]  = labellingD0(stockData.iloc[i])

    stockData['pattern2'] = None
    for i in range(1,len(stockData)):
        stockData['pattern2'].values[i] = labellingD1(stockData.iloc[i-1:i+1])

    stockData['pattern3'] = None
    for i in range(2,len(stockData)):
        stockData['pattern3'].values[i] = labellingD2(stockData.iloc[i-2:i+1])
##############################################################################################################################    
    globals()['A' + stock_code + '_1bong'] = stockData["pattern1"]
    
    
    globals()['A' + stock_code + '_bong_list'] = []
    for i in range(0, len(stockData)-2):
        globals()['A' + stock_code + '_1bong' + str(i)] = []
        globals()['A' + stock_code + '_1bong' + str(i)].append("01" + stockData["pattern1"][i])
        globals()['A' + stock_code + '_1bong' + str(i)].append("02" + stockData["pattern1"][i+1])
        globals()['A' + stock_code + '_1bong' + str(i)].append("03" + stockData["pattern1"][i+2])
        globals()['A' + stock_code + '_bong_list'].append(globals()['A' + stock_code + '_1bong'+ str(i)])
    d0 = "02" + stockData["pattern1"][-1]
    d1 = "01" + stockData["pattern1"][-2]
    A = {'P_score' : 0, 'stock_name' : stockData.columns.name, 'stock_code' : stock_code, 
         'P0' : 0, 'P1' : 0, 'M0' : 0, 'M1' : 0, 'K0' : 0}
    for s in globals()['A' + stock_code + '_bong_list'] :
        if d0 in s:
            if d1 in s :
                if "P0" in s[2] :
                    A["P0"] += 1
                elif "P1" in s[2] :
                    A["P1"] += 1
                elif "M0" in s[2] :
                    A["M0"] += 1
                elif "M1" in s[2] :
                    A["M1"] += 1
                elif "K0" in s[2] :
                    A["K0"] += 1
    if (A['P0']+A['P1']+A['M0']+A['M1']+A['K0']) == 0:
        pass
    else :
        A['P_score'] = ((A['P0']+A['P1']) / (A['P0']+A['P1']+A['M0']+A['M1']+A['K0']))
    print(A)

{'P_score': 0.3935483870967742, 'stock_name': '오공', 'stock_code': '045060', 'P0': 118, 'P1': 4, 'M0': 151, 'M1': 3, 'K0': 34}
{'P_score': 0.36, 'stock_name': '한양이엔지', 'stock_code': '045100', 'P0': 9, 'P1': 0, 'M0': 13, 'M1': 0, 'K0': 3}
{'P_score': 0.3433734939759036, 'stock_name': '성우테크론', 'stock_code': '045300', 'P0': 56, 'P1': 1, 'M0': 94, 'M1': 1, 'K0': 14}
{'P_score': 0.4, 'stock_name': '토탈소프트', 'stock_code': '045340', 'P0': 2, 'P1': 0, 'M0': 3, 'M1': 0, 'K0': 0}
{'P_score': 0.4, 'stock_name': '대아티아이', 'stock_code': '045390', 'P0': 2, 'P1': 0, 'M0': 3, 'M1': 0, 'K0': 0}
{'P_score': 0.21818181818181817, 'stock_name': '정원엔시스', 'stock_code': '045510', 'P0': 12, 'P1': 0, 'M0': 34, 'M1': 0, 'K0': 9}
{'P_score': 0.4022346368715084, 'stock_name': '크린앤사이언스', 'stock_code': '045520', 'P0': 71, 'P1': 1, 'M0': 84, 'M1': 1, 'K0': 22}
{'P_score': 0.40372670807453415, 'stock_name': '에이텍', 'stock_code': '045660', 'P0': 64, 'P1': 1, 'M0': 78, 'M1': 2, 'K0': 16}
{'P_score': 0.37142857142857144, 'stock_name': 'GV', 'stock_code': '045890', 'P0': 61, 'P1': 4, 'M0': 89, 'M1': 4, 'K0': 17}
{'P_score': 0.0, 'stock_name': '코아시아', 'stock_code': '045970', 'P0': 0, 'P1': 0, 'M0': 1, 'M1': 0, 'K0': 0}
{'P_score': 0.30319148936170215, 'stock_name': '코다코', 'stock_code': '046070', 'P0': 56, 'P1': 1, 'M0': 107, 'M1': 0, 'K0': 24}
{'P_score': 0.34375, 'stock_name': '한일네트웍스', 'stock_code': '046110', 'P0': 11, 'P1': 0, 'M0': 17, 'M1': 0, 'K0': 4}
{'P_score': 0.2857142857142857, 'stock_name': '오르비텍', 'stock_code': '046120', 'P0': 2, 'P1': 0, 'M0': 3, 'M1': 1, 'K0': 1}
{'P_score': 0.125, 'stock_name': 'SBS콘텐츠허브', 'stock_code': '046140', 'P0': 1, 'P1': 0, 'M0': 5, 'M1': 0, 'K0': 2}
{'P_score': 0.2916666666666667, 'stock_name': '파나진', 'stock_code': '046210', 'P0': 35, 'P1': 0, 'M0': 71, 'M1': 1, 'K0': 13}
{'P_score': 0.3793103448275862, 'stock_name': '백금T&A', 'stock_code': '046310', 'P0': 11, 'P1': 0, 'M0': 14, 'M1': 0, 'K0': 4}
{'P_score': 0.0, 'stock_name': '삼화네트웍스', 'stock_code': '046390', 'P0': 0, 'P1': 0, 'M0': 0, 'M1': 0, 'K0': 2}
{'P_score': 0.3968253968253968, 'stock_name': 'KG모빌리언스', 'stock_code': '046440', 'P0': 74, 'P1': 1, 'M0': 95, 'M1': 4, 'K0': 15}
{'P_score': 0.3333333333333333, 'stock_name': '서울반도체', 'stock_code': '046890', 'P0': 3, 'P1': 0, 'M0': 3, 'M1': 0, 'K0': 3}
{'P_score': 0.38461538461538464, 'stock_name': '우원개발', 'stock_code': '046940', 'P0': 14, 'P1': 1, 'M0': 20, 'M1': 0, 'K0': 4}
{'P_score': 0.47368421052631576, 'stock_name': '우리로', 'stock_code': '046970', 'P0': 9, 'P1': 0, 'M0': 8, 'M1': 0, 'K0': 2}
{'P_score': 0.3770491803278688, 'stock_name': '대우건설', 'stock_code': '047040', 'P0': 69, 'P1': 0, 'M0': 93, 'M1': 0, 'K0': 21}
{'P_score': 0.28888888888888886, 'stock_name': '포스코인터내셔널', 'stock_code': '047050', 'P0': 13, 'P1': 0, 'M0': 25, 'M1': 0, 'K0': 7}
{'P_score': 0.4634146341463415, 'stock_name': '한빛소프트', 'stock_code': '047080', 'P0': 19, 'P1': 0, 'M0': 17, 'M1': 0, 'K0': 5}
{'P_score': 0.27149321266968324, 'stock_name': '파워로직스', 'stock_code': '047310', 'P0': 58, 'P1': 2, 'M0': 135, 'M1': 1, 'K0': 25}
{'P_score': 0.3333333333333333, 'stock_name': '유니온머티리얼', 'stock_code': '047400', 'P0': 2, 'P1': 0, 'M0': 4, 'M1': 0, 'K0': 0}
{'P_score': 0.3392857142857143, 'stock_name': '이스트소프트', 'stock_code': '047560', 'P0': 72, 'P1': 4, 'M0': 122, 'M1': 3, 'K0': 23}
{'P_score': 0.23529411764705882, 'stock_name': '코데즈컴바인', 'stock_code': '047770', 'P0': 3, 'P1': 1, 'M0': 8, 'M1': 0, 'K0': 5}
{'P_score': 0.34, 'stock_name': '한국항공우주', 'stock_code': '047810', 'P0': 68, 'P1': 0, 'M0': 115, 'M1': 0, 'K0': 17}
{'P_score': 0.379746835443038, 'stock_name': '초록뱀', 'stock_code': '047820', 'P0': 120, 'P1': 0, 'M0': 164, 'M1': 0, 'K0': 32}
{'P_score': 0.30666666666666664, 'stock_name': '메디포럼제약', 'stock_code': '047920', 'P0': 22, 'P1': 1, 'M0': 44, 'M1': 0, 'K0': 8}
{'P_score': 0.2777777777777778, 'stock_name': '오스템임플란트', 'stock_code': '048260', 'P0': 15, 'P1': 0, 'M0': 36, 'M1': 0, 'K0': 3}
{'P_score': 0.32051282051282054, 'stock_name': '현대바이오', 'stock_code': '048410', 'P0': 69, 'P1': 6, 'M0': 133, 'M1': 2, 'K0': 24}
{'P_score': 0.3869047619047619, 'stock_name': '유라테크', 'stock_code': '048430', 'P0': 63, 'P1': 2, 'M0': 85, 'M1': 2, 'K0': 16}
{'P_score': 0.4, 'stock_name': '대동스틸', 'stock_code': '048470', 'P0': 2, 'P1': 0, 'M0': 2, 'M1': 0, 'K0': 1}
{'P_score': 0.3724696356275304, 'stock_name': '인트론바이오', 'stock_code': '048530', 'P0': 89, 'P1': 3, 'M0': 122, 'M1': 5, 'K0': 28}
{'P_score': 0, 'stock_name': 'SM C&C', 'stock_code': '048550', 'P0': 0, 'P1': 0, 'M0': 0, 'M1': 0, 'K0': 0}
{'P_score': 0.36024844720496896, 'stock_name': 'TPC', 'stock_code': '048770', 'P0': 53, 'P1': 5, 'M0': 89, 'M1': 0, 'K0': 14}
{'P_score': 0.5434782608695652, 'stock_name': '엔피케이', 'stock_code': '048830', 'P0': 24, 'P1': 1, 'M0': 17, 'M1': 0, 'K0': 4}
{'P_score': 0.3237410071942446, 'stock_name': '시너지이노베이션', 'stock_code': '048870', 'P0': 42, 'P1': 3, 'M0': 80, 'M1': 2, 'K0': 12}
{'P_score': 0.3869346733668342, 'stock_name': '대원미디어', 'stock_code': '048910', 'P0': 75, 'P1': 2, 'M0': 100, 'M1': 2, 'K0': 20}
{'P_score': 0.39285714285714285, 'stock_name': '인탑스', 'stock_code': '049070', 'P0': 55, 'P1': 0, 'M0': 70, 'M1': 0, 'K0': 15}
{'P_score': 0.423728813559322, 'stock_name': '기가레인', 'stock_code': '049080', 'P0': 75, 'P1': 0, 'M0': 86, 'M1': 0, 'K0': 16}
{'P_score': 0.39622641509433965, 'stock_name': '파인디앤씨', 'stock_code': '049120', 'P0': 21, 'P1': 0, 'M0': 24, 'M1': 0, 'K0': 8}
{'P_score': 0.9927272727272727, 'stock_name': '셀루메드', 'stock_code': '049180', 'P0': 1, 'P1': 272, 'M0': 0, 'M1': 0, 'K0': 2}
{'P_score': 0.3055555555555556, 'stock_name': '코메론', 'stock_code': '049430', 'P0': 11, 'P1': 0, 'M0': 16, 'M1': 0, 'K0': 9}
{'P_score': 0.3333333333333333, 'stock_name': 'SGA', 'stock_code': '049470', 'P0': 36, 'P1': 2, 'M0': 57, 'M1': 1, 'K0': 18}
{'P_score': 0.36160714285714285, 'stock_name': '오픈베이스', 'stock_code': '049480', 'P0': 78, 'P1': 3, 'M0': 116, 'M1': 5, 'K0': 22}
{'P_score': 0.36134453781512604, 'stock_name': '유아이엘', 'stock_code': '049520', 'P0': 43, 'P1': 0, 'M0': 59, 'M1': 0, 'K0': 17}
{'P_score': 0.125, 'stock_name': '잉크테크', 'stock_code': '049550', 'P0': 1, 'P1': 0, 'M0': 6, 'M1': 0, 'K0': 1}
{'P_score': 0.4305555555555556, 'stock_name': '재영솔루텍', 'stock_code': '049630', 'P0': 31, 'P1': 0, 'M0': 32, 'M1': 1, 'K0': 8}
{'P_score': 0.16666666666666666, 'stock_name': '고려신용정보', 'stock_code': '049720', 'P0': 6, 'P1': 0, 'M0': 23, 'M1': 0, 'K0': 7}
{'P_score': 0.25, 'stock_name': '동원F&B', 'stock_code': '049770', 'P0': 1, 'P1': 0, 'M0': 2, 'M1': 0, 'K0': 1}
{'P_score': 0.2857142857142857, 'stock_name': '우진플라임', 'stock_code': '049800', 'P0': 4, 'P1': 0, 'M0': 8, 'M1': 0, 'K0': 2}
{'P_score': 0.5714285714285714, 'stock_name': '승일', 'stock_code': '049830', 'P0': 4, 'P1': 0, 'M0': 3, 'M1': 0, 'K0': 0}
{'P_score': 0.6666666666666666, 'stock_name': '미래컴퍼니', 'stock_code': '049950', 'P0': 10, 'P1': 0, 'M0': 3, 'M1': 0, 'K0': 2}
{'P_score': 0.40816326530612246, 'stock_name': '쎌바이오텍', 'stock_code': '049960', 'P0': 20, 'P1': 0, 'M0': 23, 'M1': 0, 'K0': 6}
{'P_score': 0.42857142857142855, 'stock_name': '휘닉스소재', 'stock_code': '050090', 'P0': 3, 'P1': 0, 'M0': 4, 'M1': 0, 'K0': 0}
{'P_score': 0.41333333333333333, 'stock_name': '캠시스', 'stock_code': '050110', 'P0': 92, 'P1': 1, 'M0': 117, 'M1': 0, 'K0': 15}
{'P_score': 0.5, 'stock_name': '라이브플렉스', 'stock_code': '050120', 'P0': 9, 'P1': 0, 'M0': 8, 'M1': 0, 'K0': 1}
{'P_score': 0.9989094874591058, 'stock_name': '아래스', 'stock_code': '050320', 'P0': 0, 'P1': 916, 'M0': 1, 'M1': 0, 'K0': 0}
{'P_score': 1.0, 'stock_name': '한국코퍼레이션', 'stock_code': '050540', 'P0': 0, 'P1': 133, 'M0': 0, 'M1': 0, 'K0': 0}
{'P_score': 0.34, 'stock_name': '에스폴리텍', 'stock_code': '050760', 'P0': 17, 'P1': 0, 'M0': 25, 'M1': 0, 'K0': 8}
{'P_score': 0.3945945945945946, 'stock_name': '아세아텍', 'stock_code': '050860', 'P0': 72, 'P1': 1, 'M0': 85, 'M1': 1, 'K0': 26}
{'P_score': 0.23529411764705882, 'stock_name': '쏠리드', 'stock_code': '050890', 'P0': 8, 'P1': 0, 'M0': 23, 'M1': 0, 'K0': 3}
{'P_score': 0.3, 'stock_name': '수산아이앤티', 'stock_code': '050960', 'P0': 3, 'P1': 0, 'M0': 4, 'M1': 0, 'K0': 3}
{'P_score': 0.4009216589861751, 'stock_name': '지어소프트', 'stock_code': '051160', 'P0': 82, 'P1': 5, 'M0': 109, 'M1': 4, 'K0': 17}

{'P_score': 0.2222222222222222, 'stock_name': '토비스', 'stock_code': '051360', 'P0': 10, 'P1': 0, 'M0': 28, 'M1': 0, 'K0': 7}
{'P_score': 0.40540540540540543, 'stock_name': '인터플렉스', 'stock_code': '051370', 'P0': 15, 'P1': 0, 'M0': 17, 'M1': 0, 'K0': 5}
{'P_score': 0.2222222222222222, 'stock_name': '피씨디렉트', 'stock_code': '051380', 'P0': 1, 'P1': 1, 'M0': 6, 'M1': 0, 'K0': 1}
{'P_score': 0.26666666666666666, 'stock_name': 'YW', 'stock_code': '051390', 'P0': 4, 'P1': 0, 'M0': 6, 'M1': 0, 'K0': 5}
{'P_score': 0.4362745098039216, 'stock_name': '나라엠앤디', 'stock_code': '051490', 'P0': 87, 'P1': 2, 'M0': 90, 'M1': 0, 'K0': 25}
{'P_score': 0.35, 'stock_name': 'CJ프레시웨이', 'stock_code': '051500', 'P0': 14, 'P1': 0, 'M0': 21, 'M1': 0, 'K0': 5}
{'P_score': 0.4117647058823529, 'stock_name': '한전KPS', 'stock_code': '051600', 'P0': 7, 'P1': 0, 'M0': 7, 'M1': 0, 'K0': 3}
{'P_score': 0.35344827586206895, 'stock_name': '진양화학', 'stock_code': '051630', 'P0': 41, 'P1': 0, 'M0': 62, 'M1': 1, 'K0': 12}
{'P_score': 1.0, 'stock_name': '큐로홀딩스', 'stock_code': '051780', 'P0': 1, 'P1': 0, 'M0': 0, 'M1': 0, 'K0': 0}
{'P_score': 0.43478260869565216, 'stock_name': 'LG생활건강', 'stock_code': '051900', 'P0': 10, 'P1': 0, 'M0': 10, 'M1': 0, 'K0': 3}
{'P_score': 0.23809523809523808, 'stock_name': 'LG화학', 'stock_code': '051910', 'P0': 5, 'P1': 0, 'M0': 14, 'M1': 0, 'K0': 2}
{'P_score': 0.3333333333333333, 'stock_name': '센트럴바이오', 'stock_code': '051980', 'P0': 46, 'P1': 5, 'M0': 83, 'M1': 5, 'K0': 14}
{'P_score': 0.4827586206896552, 'stock_name': '에스티큐브', 'stock_code': '052020', 'P0': 13, 'P1': 1, 'M0': 11, 'M1': 0, 'K0': 4}
{'P_score': 0.9915611814345991, 'stock_name': '이에스에이', 'stock_code': '052190', 'P0': 0, 'P1': 235, 'M0': 1, 'M1': 1, 'K0': 0}
{'P_score': 0.3010752688172043, 'stock_name': 'iMBC', 'stock_code': '052220', 'P0': 28, 'P1': 0, 'M0': 51, 'M1': 0, 'K0': 14}
{'P_score': 0.3837837837837838, 'stock_name': '현대바이오랜드', 'stock_code': '052260', 'P0': 68, 'P1': 3, 'M0': 85, 'M1': 1, 'K0': 28}
{'P_score': 0.3968253968253968, 'stock_name': 'W홀딩컴퍼니', 'stock_code': '052300', 'P0': 75, 'P1': 0, 'M0': 96, 'M1': 1, 'K0': 17}
{'P_score': 0.37404580152671757, 'stock_name': '코텍', 'stock_code': '052330', 'P0': 49, 'P1': 0, 'M0': 64, 'M1': 0, 'K0': 18}
{'P_score': 1.0, 'stock_name': '코나아이', 'stock_code': '052400', 'P0': 0, 'P1': 135, 'M0': 0, 'M1': 0, 'K0': 0}
{'P_score': 0.2767857142857143, 'stock_name': '오성첨단소재', 'stock_code': '052420', 'P0': 30, 'P1': 1, 'M0': 71, 'M1': 2, 'K0': 8}
{'P_score': 0.43478260869565216, 'stock_name': '아이크래프트', 'stock_code': '052460', 'P0': 9, 'P1': 1, 'M0': 9, 'M1': 0, 'K0': 4}
{'P_score': 1.0, 'stock_name': '한네트', 'stock_code': '052600', 'P0': 1, 'P1': 0, 'M0': 0, 'M1': 0, 'K0': 0}
{'P_score': 0.225, 'stock_name': '제일바이오', 'stock_code': '052670', 'P0': 9, 'P1': 0, 'M0': 26, 'M1': 0, 'K0': 5}
{'P_score': 0.42857142857142855, 'stock_name': '한전기술', 'stock_code': '052690', 'P0': 3, 'P1': 0, 'M0': 4, 'M1': 0, 'K0': 0}
{'P_score': 0.5227272727272727, 'stock_name': '아모텍', 'stock_code': '052710', 'P0': 23, 'P1': 0, 'M0': 20, 'M1': 0, 'K0': 1}
{'P_score': 0.9932279909706546, 'stock_name': '아이톡시', 'stock_code': '052770', 'P0': 0, 'P1': 440, 'M0': 2, 'M1': 1, 'K0': 0}
{'P_score': 0.35294117647058826, 'stock_name': '액토즈소프트', 'stock_code': '052790', 'P0': 12, 'P1': 0, 'M0': 18, 'M1': 0, 'K0': 4}
{'P_score': 0.3671875, 'stock_name': '아이앤씨', 'stock_code': '052860', 'P0': 46, 'P1': 1, 'M0': 67, 'M1': 0, 'K0': 14}
{'P_score': 0.5833333333333334, 'stock_name': 'KMH하이텍', 'stock_code': '052900', 'P0': 13, 'P1': 1, 'M0': 6, 'M1': 0, 'K0': 4}
{'P_score': 0.3, 'stock_name': '바이넥스', 'stock_code': '053030', 'P0': 3, 'P1': 0, 'M0': 7, 'M1': 0, 'K0': 0}
{'P_score': 0.5, 'stock_name': '지에스이', 'stock_code': '053050', 'P0': 1, 'P1': 0, 'M0': 0, 'M1': 0, 'K0': 1}
{'P_score': 0.3630573248407643, 'stock_name': '세동', 'stock_code': '053060', 'P0': 53, 'P1': 4, 'M0': 79, 'M1': 0, 'K0': 21}
{'P_score': 0, 'stock_name': '원방테크', 'stock_code': '053080', 'P0': 0, 'P1': 0, 'M0': 0, 'M1': 0, 'K0': 0}