In [13]:
import pandas as pd

In [14]:
zzin_df = pd.DataFrame({"A" : ["AA"], "B" : ["BB"]})

In [15]:
zzin_df

    A   B
0  AA  BB

In [5]:
append_df = pd.DataFrame({"A" : ["A"], "B" : ["B"]})
append_df

   A  B
0  A  B

In [8]:
zzin_df.append(append_df)

    A   B
0  AA  BB
0   A   B

In [10]:
zzin_df = zzin_df.append(append_df)

In [12]:
zzin_df

    A   B
0  AA  BB
0   A   B

In [18]:
import random
def rand_constrained(n,tot):
       r = [random.random() for i in range(n)]  
       s = sum(r)
       r = [(i/s*tot) for i in r] 
       return r

In [21]:
r = rand_constrained(5,1)
print(r)
print(sum(r))

[0.42806039740365714, 0.2987602204511433, 0.009962228879932533, 0.22903543206994897, 0.034181721195318024]
1.0

In [22]:
import pandas as pd
from random import sample
from sklearn.metrics import confusion_matrix, classification_report

In [167]:
zzin_df.iloc[1,2][0]

'M'

In [49]:
zzin_df = pd.read_csv("C:/Users/14/Jupyter Notebook/stock_prd_project/resources/item6_zzin_winlose2.csv", encoding = "euc-kr", index_col = 0)
#print(classification_report(zzin_df["predict"], zzin_df["real"]))
print(zzin_df)
x = [0,0]
for i in range(len(zzin_df)) :
    if zzin_df.iloc[i, 1][0] == zzin_df.iloc[i, 2][0] :
        x[0] += 1
    else :
        x[1] += 1
accuracy = x[0]/(x[0] + x[1])
print(accuracy)

    P_score predict real stock_name  stock_code        Date Nasdaq
0    100.00      P0   M0         인콘       83640  2020-10-23    U03
0     76.85      P0   M0      엠벤처투자       19590  2020-10-23    U03
0     71.78      P0   M0       옵트론텍       82210  2020-10-23    U03
0     68.85      P0   M0       모트렉스      118990  2020-10-23    U03
0     68.61      P0   P0    유니온머티리얼       47400  2020-10-23    U03
..      ...     ...  ...        ...         ...         ...    ...
0     85.70      P0   P0    오리엔트바이오        2630  2020-06-01    U04
0     81.93      P0   K0        아이엠      101390  2020-06-01    U04
0     76.62      P0   P0      오픈베이스       49480  2020-06-01    U04
0     73.37      P0   M0        네스엠       56000  2020-06-01    U04
0     68.42      P0   P0        나이벡      138610  2020-06-01    U04

[500 rows x 7 columns]
0.376

In [48]:
print(zzin_df.iloc[1,1])
print(type(zzin_df.iloc[1,1]))

P0
<class 'str'>

In [50]:
vs_zzin = pd.read_csv("C:/Users/14/Jupyter Notebook/stock_prd_project/resources/sample_table.csv", encoding = "euc-kr", index_col = 0)
print(vs_zzin)

          Date stock_name  today_win  today_lose  tomorrow_win  tomorrow_lose  \
0   2020-10-23         인콘        0.0         0.0           0.0            1.0
0   2020-10-23      엠벤처투자        0.0         0.0           0.0            1.0
0   2020-10-23       옵트론텍        0.0         0.0           0.0            1.0
0   2020-10-23       모트렉스        0.0         0.0           1.0            0.0
0   2020-10-23    유니온머티리얼        1.0         0.0           0.0            0.0
..         ...        ...        ...         ...           ...            ...
0   2020-06-01    오리엔트바이오        0.0         0.0           0.0            0.0
0   2020-06-01        아이엠        0.0         0.0           0.0            0.0
0   2020-06-01      오픈베이스        1.0         0.0           0.0            0.0
0   2020-06-01        네스엠        0.0         1.0           0.0            0.0
0   2020-06-01        나이벡        0.0         0.0           1.0            0.0

    day2_win  day2_lose  real_profit Nasdaq
0        0.0        0.0    -0.062232    U03
0        0.0        0.0    -0.034553    U03
0        0.0        0.0    -0.057402    U03
0        0.0        0.0     0.035000    U03
0        0.0        0.0     0.037500    U03
..       ...        ...          ...    ...
0        1.0        0.0     0.008000    U04
0        1.0        0.0     0.008000    U04
0        0.0        0.0     0.037500    U04
0        0.0        0.0    -0.046252    U04
0        0.0        0.0     0.035000    U04

[500 rows x 10 columns]

In [55]:
vs_zzin_d4 = vs_zzin[vs_zzin["Nasdaq"] == "D04"]
vs_zzin_u2 = vs_zzin[vs_zzin["Nasdaq"] == "U02"]
vs_zzin_u3 = vs_zzin[vs_zzin["Nasdaq"] == "U03"]
vs_zzin_u4 = vs_zzin[vs_zzin["Nasdaq"] == "U04"]
vs_zzin_t1 = vs_zzin[vs_zzin["Nasdaq"] == "T01"]
vs_zzin_d4

,Date,stock_name,today_win,today_lose,tomorrow_win,tomorrow_lose,day2_win,day2_lose,real_profit,Nasdaq
0,2020-10-22,삼양통상,0.0,0.0,0.0,0.0,1.0,0.0,0.008000,D04
0,2020-10-22,지엠비코리아,0.0,0.0,0.0,0.0,1.0,0.0,0.008000,D04
0,2020-10-22,한국큐빅,0.0,0.0,0.0,0.0,1.0,0.0,0.008000,D04
0,2020-10-22,KH바텍,0.0,0.0,0.0,1.0,0.0,0.0,-0.040650,D04
0,2020-10-22,현대위아,0.0,0.0,0.0,0.0,1.0,0.0,0.008000,D04
...,...,...,...,...,...,...,...,...,...,...
0,2020-06-05,한국조선해양,0.0,0.0,1.0,0.0,0.0,0.0,0.035000,D04
0,2020-06-05,에이테크솔루션,0.0,0.0,1.0,0.0,0.0,0.0,0.035000,D04
0,2020-06-05,유니셈,0.0,0.0,0.0,0.0,1.0,0.0,0.008000,D04
0,2020-06-05,현대리바트,0.0,0.0,0.0,1.0,0.0,0.0,-0.058462,D04
0,2020-06-05,액토즈소프트,0.0,0.0,0.0,0.0,1.0,0.0,0.008000,D04

In [65]:
print(len(vs_zzin_d4))
print(sum(vs_zzin_d4["today_win"]),sum(vs_zzin_d4["tomorrow_win"]) , sum(vs_zzin_d4["day2_win"]))
print("@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@")
print(len(vs_zzin_u2))
print(sum(vs_zzin_u2["today_win"]),sum(vs_zzin_u2["tomorrow_win"]) , sum(vs_zzin_u2["day2_win"]))
print("@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@")
print(len(vs_zzin_u3))
print(sum(vs_zzin_u3["today_win"]),sum(vs_zzin_u3["tomorrow_win"]) , sum(vs_zzin_u3["day2_win"]))
print("@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@")
print(len(vs_zzin_u4))
print(sum(vs_zzin_u4["today_win"]),sum(vs_zzin_u4["tomorrow_win"]),sum(vs_zzin_u4["day2_win"]))
print("@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@")
print(len(vs_zzin_t1))

print(sum(vs_zzin_t1["today_win"]),sum(vs_zzin_t1["tomorrow_win"]),sum(vs_zzin_t1["day2_win"]))
print("@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@")

165
51.0 25.0 33.0
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
5
1.0 1.0 0.0
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
15
2.0 1.0 2.0
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
300
74.0 50.0 57.0
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
15
3.0 4.0 2.0
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@

In [165]:
random.random()

0.5638250774042973

In [171]:
pd.DataFrame({"A" : [0] , "B" : [[0,0,0,0,0,0,0]]})

   A                      B
0  0  [0, 0, 0, 0, 0, 0, 0]

In [174]:
a = random.random()*30
print(a, "번째지롱")

16.11821054076969 번째지롱